# macOS
.DS_Store

# VSCode
.vscode/

# Autotools / Build
autom4te.cache/
aclocal.m4
configure
config.log
config.status
Makefile.in
Makefile

# temp files
*.out
*~
missing
compile
depcomp
ylwrap

# generated docs
doc/html/

# others
tools/